<div class="container">
  <form class="row" [formGroup]="profileForm">
    <div class="col-4 form-group">
      <input formControlName="lastName" type="text" class="form-control" placeholder="Фамилия">
    </div>
    <div class="col-4 form-group">
      <input formControlName="firstName" type="text" class="form-control" placeholder="Имя">
      <div *ngIf="profileForm.controls['firstName'].invalid && (profileForm.controls['firstName'].dirty || profileForm.controls['firstName'].touched)"
           class="invalid">
        <div *ngIf="profileForm.controls['firstName'].errors.required">
          Это поле обязательное.
        </div>
      </div>

    </div>
    <div class="col-4 form-group">
      <input formControlName="middleName" type="text" class="form-control" placeholder="Отчество">
    </div>
    <div class="col-12 form-group mb-5">
      <input formControlName="object" type="text" class="form-control" placeholder="Объект">
      <label class="search">
        <i class="fas fa-search"></i>
      </label>
    </div>
    <div class="col-12 mb-5">
      <div class="row row-2">
        <div class="col-5">
          <div class="type mb-2">
            <span class="title float-left">Свадебный салон</span>
            <span class="float-left"><img src="../../assets/pdf.png"></span>
          </div>
          <h4 class="city">
            Садовая ул. д. 23
          </h4>
          <h4 class="address">
            Садовая ул. 56
          </h4>
        </div>
        <div class="col-2 font-13">
          177 м2 Аренда
        </div>
        <div class="col-3 font-13 pl-1-2">
          355 000 руб
        </div>
        <div class="col-2 font-13">
          Журавлев
        </div>
      </div>

    </div>
    <div class="col-4 form-group">
      <label class="w-40">+7</label>
      <input formControlName="phoneNumber" type="text" class="form-control phone" >
    </div>
    <div class="col-4 form-group">
      <select  formControlName="city" class="form-control" >
        <option>Аренда</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
    <div class="col-4 form-group">
      <select formControlName="admin" class="form-control" >
        <option>Кочура</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
    <div class="col-12 form-group mb-4">
      <textarea class="form-control" placeholder="Комментарий" rows="4"></textarea>
    </div>

  </form>
  <button type="submit" class="btn btn-orange" (click)="getValue(profileForm)">Перейти к выборке</button>
  <button type="submit" class="btn btn-orange" (click)="getValue(profileForm)">Сохранить</button>
</div>
